h1{color: black;
    font-size: 50px;
    text-align: center}

    h5{color: black;
    font-size: 20px;
    text-align: center}

    .Reviews_Diana.jpg {width: 500px;
        border-radius: 50%;
        display:block;
        margin:auto}
        
        
        
        .Reviews_ChefEnseñando.jpg {width: 250px; 
        border-radius: 30px}