.display-4 {
  display: flex;
  justify-content: center;
}
.lead {
  display: flex;
  justify-content: center;
}
p {
  display: flex;
  justify-content: center;
}
 /* Pendiente {
  display: flex;
  justify-content: center; */
}

/* Inicia Estilos de Chef - Center align the text within the three columns below the carousel */
.row rowback {
    background-color: black;
    background-size: 100%;

}
.marketing .col-lg-4 {
    mask-image: '250px-Chef_Oropeza_2017.jpg';
    margin-bottom: 1.5rem;
    text-align: center;
    color: blue;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
.img-circle{
    border-radius: 50%;
}
/* Termina Estilos de Chefs EatMe*/

/* Fonts de Permanent Marker */
h1 { font-family: "Permanent Marker"; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: "Permanent Marker"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; }  { font-family: "Permanent Marker"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Permanent Marker"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Permanent Marker"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
/* Termina Fonts Permanent Marker */